/*
!/_config.yml
!/.gitignore
!/404.html.yml
!/CNAME
!/contact.html
!/Gemfile
!/index.html
!/medocs.html
!/mptabs.html
!/ppa.html
!/qrcheck.html
!/README.md
!/whoami.html
!/_includes
/_includes/*
!/_includes/foot.html
!/_includes/head.html
!/_includes/side.html
!/_layouts
/_layouts/*
!/_layouts/default.html
!/_layouts/post.html
!/_posts
/_posts/*
!/_posts/2018-06-03-medocs-application-base-de-données-des-médicaments-en-Tunisie-annonce.html
!/_posts/2019-05-17-mptabs-application-tableaux-des-maladies-professionnelles-en-Tunisie-annonce.html
!/_posts/2021-02-01-mptabs-mise-à-jour-tableau-86.html
!/_posts/2025-11-01-mptabs-mise-à-jour-tableaux-2025.html
!/img
/img/*
!/img/drx-tn.png
!/img/medocs.png
!/img/mptabs.png
!/img/profile.png
!/img/qrcheck.png
!/img/posts
/img/posts/*
!/img/posts/covid19.png
!/img/posts/officine.png
!/img/posts/stheto.jpg
!/img/posts/maj2025.png